# Question 22

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
#Creating weather table

In [3]:
%%sql 
CREATE TABLE IF NOT EXISTS weather (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);

 * sqlite://
Done.

[]

In [4]:
#Inserting values in the table

In [5]:
%%sql
INSERT INTO weather (id, recordDate, temperature) VALUES
(1, '2015-01-01', 10),
(2, '2015-01-02', 25),
(3, '2015-01-03', 20),
(4, '2015-01-04', 30);

 * sqlite://
4 rows affected.

[]

In [6]:
#Table Review

In [7]:
%%sql
SELECT * FROM weather

 * sqlite://
Done.

[(1, '2015-01-01', 10),
 (2, '2015-01-02', 25),
 (3, '2015-01-03', 20),
 (4, '2015-01-04', 30)]

In [8]:
#solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

In [9]:
%%sql 
SELECT w.id FROM weather w 
JOIN Weather w1 ON date(w.recordDate, '-1 day') = w1.recordDate 
WHERE w.temperature > w1.temperature;

 * sqlite://
Done.

[(2,), (4,)]